
ul{
  margin-inline-start: 0;
  padding-inline-start: 0;
}
a{
  text-decoration: none;
}


.navigation{
  margin-top: 40px;
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__items{
    border-bottom:  2px solid white;
    margin-right: 20px;
    margin-bottom: 18px;
  }

  &__links{
    color: black;
    font-size: 14px;
    font-weight: 600;
  }
}
.active{
    border-bottom:  2px solid #0038FF;
}

.title-nav-wrapper{
  display: flex;
}

@media (min-width: 375px) {
  .page-title{
    margin-top: 100px;
    font-size: 28px;
  }
.nav-extra{
  display: none;
}
}
@media (min-width: 768px) {

  .page-title{
    margin-left: 20px;
  }
  .navigation{
    margin-left: 20px;
    &__wrapper{
      display: flex;
      padding-right: 70px;
    }
    &__items{
      margin-right: 32px;
      margin-top: 30px;
    }
    &__links{
      font-weight: 600;
      font-size: 18px;
    }
  }
  .nav-extra {
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
  .main-title{
    padding-left: 0;
    margin-bottom: 100px;
  }

}
@media (min-width: 1024px) {
  .page-title{
    margin-left: 0;
  }
  .main-title{
    padding-left: 0;
  }
  .navigation {
    margin-left: 0;

    &__wrapper {
      display: flex;
      padding-right: 0px;
    }
  }

}

@media (min-width: 1280px) {
  .page-title{
    margin-left: 0;
    font-size: 42px;
  }
}
@media (min-width: 1440px) {
  .title-nav-wrapper{
    padding-right: 0;
  }
}